# Ignore all files in the data/ folder
data/*
data/common-voice/*
data/raw/*

# Do not ignore .gitkeep files
!data/.gitkeep
!data/common-voice/.gitkeep
!data/raw/.gitkeep

# Virtual environments
venv/
env/
proj-env/
.proj-env/
__pycache__/

# Python-specific files
*.pyc
*.pyo
*.pyd
*.pdb

# VS Code
.vscode/
*.code-workspace